asgiref
blinker
click
colorama
crispy-bootstrap5
dj-database-url
Django
django-crispy-forms
django-environ
Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
packaging
Pillow
sqlparse
typing_extensions
tzdata
Werkzeug